.container{
    margin: rem;
    text-align: center;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 5rem;
    width: 5rem;
    background-color: black;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(130, 130, 130);
    cursor: pointer;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#purple{
    background-color: purple;
}
#limegreen{
    background-color: limegreen;
}